$content-max-width: 1000px;
$grid-margin: 3em;
$page-lr-margin: 1in;
$header-vert-margin: 5em;
$one-col-max-width: 6in;
$two-col-max-width: 11in;

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap"');

// https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/
// It's 100% correct; how can you argue with that?
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-portrait-only {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

figure {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  figcaption {
    width: auto;
    font-size: .8em;
    p:first-child {
      margin-top: 0;
    }
  }
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Source Serif Pro', serif;
  line-height: 1.6;
  @include for-phone-only {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  @include for-tablet-portrait-only {
    padding-left: 2em;
    padding-right: 2em;
  }
  @include for-tablet-landscape-up {
    padding-left: 5em;
    padding-right: 5em;
  }
}

ul.nocontains-img, p.nocontains-img {
  @include for-tablet-landscape-up {
    width: 80%;
  }
}

#header {
  @include for-phone-only {
    margin-bottom: 1.5em;
    .nav {
      margin-top: .5em;
    }
  }
  @include for-tablet-portrait-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    padding-top: $header-vert-margin;
    margin-bottom: $header-vert-margin;
  }

  .title {
    @include for-phone-only {
      font-size: 8vw;
    }
    @include for-tablet-portrait-up {
      font-size: 2em;
    }
    padding-right: 1em;
    padding-bottom: .2em;
    white-space: nowrap;
  }
  .nav {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 1em;
    white-space: nowrap;
    padding-left: 0;
    display: inline-block;
    li {
      padding-left: 1em;
      display: inline;
      .current {
        font-weight: 700;
      }
    }
    li:first-child {
      padding-left: 0em;
    }
  }
}

#portfolio {
  display: grid;
  column-gap: $grid-margin;

  @include for-phone-only {
    row-gap: $grid-margin / 2;
  }
  @include for-tablet-portrait-up {
    row-gap: $grid-margin;
  }

  /* I'm sure there's a nicer way to do this in SASS. */
  /* TODO: Put a max width on the one-image size; we don't want to stretch the thumbnails. */
  @include for-phone-only {
    grid-template-columns: repeat(1, 1fr);
  }
  @include for-tablet-portrait-only {
    grid-template-columns: repeat(2, 1fr);
  }
  @include for-tablet-landscape-up {
    grid-template-columns: repeat(3, 1fr);
  }

  .item {
    img {
      width: 100%; /* Fit within container */
      transition-property: opacity;
      transition-duration: 0.2s;
    }
    img:hover {
      opacity: 0.7;
    }
    .title {
      width: 100%;
      text-align: center;
    }
  }
}

#content {
  max-width: $content-max-width;
  img {
    max-width: 100%;
    max-height: 90vh;
  }
}

article {
  display: grid;

  @include for-phone-only {
    grid-template-columns: repeat(1, 1fr);
  }
  @include for-tablet-portrait-only {
    grid-template-columns: repeat(1, 1fr);
  }
  @include for-tablet-landscape-up {
    grid-template-columns: 10em 1fr 2fr;

    .text {
      margin-right: 3em;
      p:first-child {
        margin-top: 0;
      }
      grid-area: span 1 / span 2;
    }
  }

  .text {
    hyphens: auto;
    text-justify: inner-character;
    text-align: justify;
  }
}

ul.blog-posts {
  list-style-type: none;
  li {
    margin-bottom: 0.4em;
  }
}

.hidden {
  display: none;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}
