{{ $img_noext := strings.TrimSuffix ".jpg" (.Get "src") }}
{{ $has_cap :=  ne (.Get "caption") "" }}
{{/* TODO: Sizes attribute for these? */}}

{{ if $has_cap }}<figure>{{end}}
<img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}"
  srcset="
  {{- with ($.Page.Resources.Match (printf "_gen/%s*" $img_noext )) -}}
    {{ range . }}
      {{ printf "%s %dw %dh, " .Name .Width .Height}}
    {{ end }}
  {{- end -}}
  "
>
{{ if $has_cap -}}
  <figcaption>
  <p>{{ .Get "caption" }}</p>
  </figcaption>
</figure>
{{- end}}
